.post p,
.post ul,
.post ol,
.post dl { 
 /* font-family: Georgia, serif; */
 @apply text-xl;
 max-width: 34em;
}

.post > blockquote {
  @apply border-solid border-gray-700 border-l-4 px-5 py-2 my-10 bg-gray-300;
}


.post img {
  @apply my-16;
}

.post > p > code {
  @apply inline-block px-2 bg-white;
}

.post > .title > h1 {
  @apply text-2xl font-semibold;
}

.post > .title > p {
  font-family: var(--font-family--sans);
}

.post > h2 {
  @apply text-xl text-gray-900 font-medium pt-4 mb-2;
}


.post > ol, 
.post > ul {
  @apply my-5 list-inside;  
}

.post > ol {
  @apply list-decimal;
}

.post > ul {
  @apply list-square;
}

.post p {
  @apply my-5;
}

.post > img {
  @apply my-10;
}

.post .byline > span {
  @apply uppercase text-sm font-bold tracking-wider;
}

.post > .date {
  @apply pt-24 mb-4 text-sm;
}

.post > .katex-block {
  @apply my-10;
}

.post  /*.katex-block */  .frac-line {
  @apply text-current;
}

.post :not(pre)>code[class*=language-], .post pre[class*=language-] {
  @apply my-8;
}

.post .lede,
.post .lead {
  @apply text-gray-700 text-xl font-medium leading-snug pt-8 pb-4;
  font-family: var(--font-family--sans);
}

@screen lg {
  .post .lede,
  .post .lead {
    @apply text-2xl;
  }
}

.hero::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: hsl(0,0%,0%,.2);
  position: absolute;
  z-index: 10;
}

.meta {
  z-index: 20;
}

.meta > h1 {
  @apply text-2xl font-semibold;
}

.katex-block {
  @apply bg-gray-200 p-2;
}